<div class="page-header" data-parallax="true">
    <div class="filter"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-12 VHAlign" style="display: flex">
                <div class="motto">
                    <h1 class="animated fadeInUp">Building Rapport Through Simple Habits</h1>
                    <h6>Turn skills of professional marketers into repeatable habits.<br />Lead the way in relationship focused business, build a network<br />of trust, leading to a lifetime of prosperity.</h6>
                    <br />
                    <a href="" class="btn mr-4 appBtn"><img class="mr-2" src="../../assets/img/SVG/app_store_icon.svg">App Store
                    </a>
                    <a href="" class="btn appBtn"><img class="mr-2" src="../../assets/img/SVG/play_store_icon.svg">Google Play
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-12  d-none d-lg-flex">
                <img class="position-absolute w-100 animated fadeInRight" src="../../assets/img/PNG/main_img.png" alt="">
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
<div class="main">
    <div class="section text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mr-auto ml-auto">
                    <h2 class="title">Meet <span>Follow Up</span></h2>
                    <h5 class="description">Lorem ipsum dolor sit amet, et alii commune concludaturque eam, ea eam mentitum officiis reprimique. Vim ad tale solet constituam. No debet perfecto theophrastus mea, te vim fastidii lucilius, tritani bonorum temporibus ei sed. </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <!-- <div class="container"> -->
        <div class="row">
            <div class="orangeDiv col-md-3">
                <img class="towardsLeft animated fadeInUp" src="../../assets/img/PNG/up_to_date.png" alt="">
            </div>
            <div class="col-md-6 offset-md-2">
                <img src="../../assets/img/SVG/orange_mark.svg" alt="">
                <h2 class="title animated fadeInUp">Stay <span>Up To Date</span></h2>
                <h5 class="description animated fadeInUp">
                    The FollowUp calendar is there for you to keep track of the follow up calls you set up with your customers. As a professional business owner it is key to make sure you always set the next exposure at the end of a call, and even more importantly, always
                    FollowUp when you say you will.
                    <br> FollowUp calendar is enhanced through the power of the popup. The popup allows you so set up an event straight after a call, at the point where all the information is fresh. It makes the process simple and seamless, allowing you
                    to get on with your day worry free
                </h5>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="section">
        <!-- <div class="container"> -->
        <div class="row">
            <div class="yellowDiv col-12 d-sm-none">
                <img class="towardsRight animated fadeInUp" src="../../assets/img/PNG/know_customers.png" alt="">
            </div>
            <div class="col-md-6 offset-md-1">
                <img src="../../assets/img/SVG/yellow_mark.svg" alt="">
                <h2 class="title animated fadeInUp">Know Who
                    <span>Your Customers Are</span></h2>
                <h5 class="description animated fadeInUp">
                    FollowUp Contacts makes finding all the information about a customer easier than ever before.
                    <br> All the events, all the calls and all the notes, everything that you need to know about your customers is tied to their contact profile and available in FollowUp. The popup is what drives this integration and what makes FollowUp
                    so effective.
                </h5>
            </div>
            <div class="yellowDiv col-md-3 offset-md-2 d-none d-sm-flex">
                <img class="towardsRight animated fadeInUp" src="../../assets/img/PNG/know_customers.png" alt="">
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="section">
        <!-- <div class="container"> -->
        <div class="row">
            <div class="yellowDiv col-md-3">
                <img class="towardsLeft animated fadeInUp" src="../../assets/img/PNG/consistent_business.png" alt="">
            </div>
            <div class="col-md-6 offset-md-2">
                <img src="../../assets/img/SVG/yellow_mark.svg" alt="">
                <h2 class="title animated fadeInUp"><span>Consistent Business</span></h2>
                <h5 class="description animated fadeInUp">
                    Consistently getting one prospect per day is the difference between a business amateur and a professional.
                    <br> That's why FollowUp gives you FollowUp Prospects. A place where you can keep track of all your potential customers and see the growth of your business network
                </h5>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="section pb-0">
        <!-- <div class="container"> -->
        <div class="row">
            <div class="orangeDiv col-12 d-sm-none">
                <img class="towardsRight animated fadeInUp" src="../../assets/img/PNG/when_you_need.png" alt="">
            </div>
            <div class="col-md-6 offset-md-1">
                <img src="../../assets/img/SVG/orange_mark.svg" alt="">
                <h2 class="title animated fadeInUp">There
                    <span>When You Need It</span></h2>
                <h5 class="description animated fadeInUp">
                    The Popup is what makes FollowUp unique.It provides you with the tools to do the things you need to do, when you need to do them.
                    <br> Making notes and setting FollowUps with customers is a professional skill. It may seem simple but we all forget from time to time and doing so can have lasting effects on our relationships with our customers.With the FollowUp
                    Popup you can relax and trust that Followup will be there when you need it.
                </h5>
            </div>
            <div class="orangeDiv col-md-3 offset-md-2 d-none d-sm-flex">
                <img class="towardsRight animated fadeInUp" src="../../assets/img/PNG/when_you_need.png" alt="">
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="section quote">
        <div class="container">
            <div class="row">
                <div class="col-md-2 ml-auto">
                    <img src="../../assets/img/SVG/quote_icon.svg" alt="">
                </div>
                <div class="col-md-8 mr-auto">
                    <h2 class="title mt-0">fortune is in the follow up</h2>
                    <h3 class="author">By Eric Worre</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="contact section landing-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title"><span>Contact Us</span></h2>
                    <form class="contact-form">
                        <div class="form-group">
                            <label for="name" class="bmd-label-floating">Name</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email" class="bmd-label-floating">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="phone" class="bmd-label-floating">Mobile Number</label>
                            <input type="text" class="form-control" id="phone">
                        </div>
                        <div class="form-group">
                            <label for="message" class="bmd-label-floating">Message</label>
                            <textarea class="form-control" id="message" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn w-100 btn-followUp">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 mr-auto ml-auto"></div>
            </div>
        </div>
    </div>
</div>