.page-header {
    min-height: 100vh;
    h3 {
        font-family: 'Monsterrat-SemiBold';
        line-height: 1.45em;
        color: white;
        z-index: 1;
    }
    img,
    h3,
    button,
    label {
        z-index: 1;
    }
    label {
        color: #767c86;
    }
    button.btn-primary {
        background-color: white;
        color: #202020;
        border-radius: 0;
        border: 0;
    }
    .filter::after {
        background-image: linear-gradient(303deg, #3c475a, #111a2b);
        z-index: 0 !important;
    }
}

.navbar-nav {
    display: none!important;
}