.navbar .nav-link p {
    font-family: 'Monsterrat-Bold';
    color: #e5b000 !important;
    font-weight: bold;
    font-size: 14px;
     :hover {
        color: #403D39 !important;
    }
}

.hideMenu {
    visibility: hidden;
}

@media (max-width: 767px) {
    .hideMenu {
        display: none;
    }
    .navbar.navbar-transparent .nav-link p {
        font-family: 'Monsterrat-SemiBold';
        color: #9a9a9a !important;
    }
}