<div class="page-header" data-parallax="true">
    <div class="filter"></div>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Privacy Policy</h1>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mr-auto ml-auto">
                    <h2 class="title"><span>Follow Up</span></h2>
                    <h5 class="description">This privacy policy applies between you, the User of this Website and Followup Ltd, the owner and provider of this Website. Followup Ltd takes the privacy of your information very seriously. This privacy policy applies to our use of
                        any and all Data collected by us or provided by you in relation to your use of the Website.<br>Please read this privacy policy carefully.</h5>
                    <h4>Definitions and interpretation</h4>
                    <h5 class="description">1. In this privacy policy, the following definitions are used:</h5>
                    <h4>Data</h4>
                    <h5 class="description">Collectively all information that you submit to Followup Ltd via the Website. This definition incorporates, where applicable, the definitions provided in the Data Protection Laws;</h5>
                    <h4>Data Protection Laws</h4>
                    <h5 class="description">Any applicable law relating to the processing of personal Data, including but not limited to Directive 96/46/EC (Data Protection Directive) or the GDPR, and any national implementing laws, regulations and secondary legislation, for
                        as long as the GDPR is effective in the UK;</h5>
                    <h4>GDPR</h4>
                    <h5 class="description">The General Data Protection Regulation (EU) 2016/679;</h5>
                    <h4>Followup Ltd, or us</h4>
                    <h5 class="description">
                        Followup Ltd, a company incorporated in England and Wales with registered number 11460774 whose registered office is at 129 Holker Street, barrow-in-furness, cumbria, LA14 5RT;
                    </h5>
                    <h4>User or you</h4>
                    <h5 class="description">
                        Any third party that accesses the Website and is not either (i) employed by Followup Ltd and acting in the course of their employment or (ii) engaged as a consultant or otherwise providing services to Followup Ltd and accessing the Website in connection
                        with the provision of such services; and
                    </h5>
                    <h4>Website</h4>
                    <h5 class="description">
                        The website that you are currently using, followuppro.co.uk, and any sub-domains of this site unless expressly excluded by their own terms and conditions.
                        <br> 2. In this privacy policy, unless the context requires a different interpretation:<br>a. the singular includes the plural and vice versa;<br>b. references to sub-clauses, clauses, schedules or appendices are to sub-clauses,
                        clauses, schedules or appendices of this privacy policy;<br>c. a reference to a person includes firms, companies, government entities, trusts and partnerships;<br>d. "including" is understood to mean "including without limitation";<br>e.
                        reference to any statutory provision includes any modification or amendment of it;<br>f. the headings and sub-headings do not form part of this privacy policy.
                    </h5>
                    <h4>Scope of this privacy policy</h4>
                    <h5 class="description">3. This privacy policy applies only to the actions of Followup Ltd and Users with respect to this Website. It does not extend to any websites that can be accessed from this Website including, but not limited to, any links we may provide
                        to social media websites.<br>4. For purposes of the applicable Data Protection Laws, Followup Ltd is the "data controller". This means that Followup Ltd determines the purposes for which, and the manner in which, your Data is processed.</h5>
                    <h4>Data collected</h4>
                    <h5 class="description">5. We may collect the following Data, which includes personal Data, from you:<br>a. name;
                        <br>b. date of birth;<br>c. gender;
                        <br>d. job title;<br>e. profession;<br>f. contact Information such as email addresses and telephone numbers;
                        <br>g. demographic information such as postcode, preferences and interests;<br>h. financial information such as credit / debit card numbers;<br>i. IP address (automatically collected);
                        <br>j. web browser type and version (automatically collected);<br>k. operating system (automatically collected);
                        <br>l. a list of URLs starting with a referring site, your activity on this Website, and the site you exit to (automatically collected);
                        <br>m. application specific data for statistics ;<br>o. in each case, in accordance with this privacy policy.
                    </h5>
                    <h4>How we collect Data
                    </h4>
                    <h5 class="description">6. We collect Data in the following ways:<br>a. data is given to us by you; and<br>b. data is collected automatically.
                    </h5>
                    <h4>Data that is given to us by you</h4>
                    <h5 class="description">7. Followup Ltd will collect your Data in a number of ways, for example:<br>a. when you contact us through the Website, by telephone, post, e-mail or through any other means;<br>b. when you register with us and set up an account to
                        receive our products/services;<br>c. when you make payments to us, through this Website or otherwise;<br>d. when you elect to receive marketing communications from us;<br>e. when you use our services;<br>in each case, in accordance
                        with this privacy policy.</h5>
                    <h4>Data that is collected automatically</h4>
                    <h5 class="description">8. To the extent that you access the Website, we will collect your Data automatically, for example:<br>a. we automatically collect some information about your visit to the Website. This information helps us to make improvements to
                        Website content and navigation, and includes your IP address, the date, times and frequency with which you access the Website and the way you use and interact with its content.
                    </h5>
                    <h4>Our use of Data</h4>
                    <h5 class="description">9. Any or all of the above Data may be required by us from time to time in order to provide you with the best possible service and experience when using our Website. Specifically, Data may be used by us for the following reasons:<br>a.
                        internal record keeping;
                        <br>b. improvement of our products / services;<br>c. transmission by email of marketing materials that may be of interest to you;<br>d. contact for market research purposes which may be done using email, telephone, fax or mail.
                        Such information may be used to customise or update the Website;<br>in each case, in accordance with this privacy policy.<br>10. We may use your Data for the above purposes if we deem it necessary to do so for our legitimate interests.
                        If you are not satisfied with this, you have the right to object in certain circumstances (see the section headed "Your rights" below).
                        <br>11. For the delivery of direct marketing to you via e-mail, we'll need your consent, whether via an opt-in or soft-opt-in:<br>a. soft opt-in consent is a specific type of consent which applies when you have previously engaged
                        with us (for example, you contact us to ask us for more details about a particular product/service, and we are marketing similar products/services). Under "soft opt-in" consent, we will take your consent as given unless you opt-out.<br>b.
                        for other types of e-marketing, we are required to obtain your explicit consent; that is, you need to take positive and affirmative action when consenting by, for example, checking a tick box that we'll provide.
                        <br>c. if you are not satisfied about our approach to marketing, you have the right to withdraw consent at any time. To find out how to withdraw your consent, see the section headed "Your rights" below.<br>12. When you register
                        with us and set up an account to receive our services, the legal basis for this processing is the performance of a contract between you and us and/or taking steps, at your request, to enter into such a contract.
                    </h5>
                    <h4>Keeping Data secure</h4>
                    <h5 class="description">13. We will use technical and organisational measures to safeguard your Data, for example:
                        <br>a. access to your account is controlled by a password and a user name that is unique to you.
                        <br>b. we store your Data on secure servers.<br>c. payment details are encrypted using SSL technology (typically you will see a lock icon or green address bar (or both) in your browser when we use this technology.<br>14. Technical
                        and organisational measures include measures to deal with any suspected data breach. If you suspect any misuse or loss or unauthorised access to your Data, please let us know immediately by contacting us via this e-mail address:
                        feedback@followuppro.co.uk.
                        <br>15. If you want detailed information from Get Safe Online on how to protect your information and your computers and devices against fraud, identity theft, viruses and many other online problems, please visit www.getsafeonline.org.
                        Get Safe Online is supported by HM Government and leading businesses.</h5>
                    <h4>Data retention
                    </h4>
                    <h5 class="description">16. Unless a longer retention period is required or permitted by law, we will only hold your Data on our systems for the period necessary to fulfil the purposes outlined in this privacy policy or until you request that the Data be
                        deleted.
                        <br>17. Even if we delete your Data, it may persist on backup or archival media for legal, tax or regulatory purposes.
                    </h5>
                    <h4>Your rights</h4>
                    <h5 class="description">18. You have the following rights in relation to your Data:<br>a. Right to access - the right to request (i) copies of the information we hold about you at any time, or (ii) that we modify, update or delete such information. If we
                        provide you with access to the information we hold about you, we will not charge you for this, unless your request is "manifestly unfounded or excessive." Where we are legally permitted to do so, we may refuse your request. If
                        we refuse your request, we will tell you the reasons why.<br>b. Right to correct - the right to have your Data rectified if it is inaccurate or incomplete.<br>c. Right to erase - the right to request that we delete or remove your
                        Data from our systems.<br>d. Right to restrict our use of your Data - the right to "block" us from using your Data or limit the way in which we can use it.<br>e. Right to data portability - the right to request that we move, copy
                        or transfer your Data.<br>f. Right to object - the right to object to our use of your Data including where we use it for our legitimate interests.<br>19. To make enquiries, exercise any of your rights set out above, or withdraw
                        your consent to the processing of your Data (where consent is our legal basis for processing your Data), please contact us via this e-mail address: feedback@followuppro.co.uk.<br>20. If you are not satisfied with the way a complaint
                        you make in relation to your Data is handled by us, you may be able to refer your complaint to the relevant data protection authority. For the UK, this is the Information Commissioner's Office (ICO). The ICO's contact details can
                        be found on their website at https://ico.org.uk/. <br>21. It is important that the Data we hold about you is accurate and current. Please keep us informed if your Data changes during the period for which we hold it.
                    </h5>
                    <h4>Links to other websites</h4>
                    <h5 class="description">
                        22. This Website may, from time to time, provide links to other websites. We have no control over such websites and are not responsible for the content of these websites. This privacy policy does not extend to your use of such websites. You are advised
                        to read the privacy policy or statement of other websites prior to using them.</h5>
                    <h4>Changes of business ownership and control</h4>
                    <h5 class="description">23. Followup Ltd may, from time to time, expand or reduce our business and this may involve the sale and/or the transfer of control of all or part of Followup Ltd. Data provided by Users will, where it is relevant to any part of our
                        business so transferred, be transferred along with that part and the new owner or newly controlling party will, under the terms of this privacy policy, be permitted to use the Data for the purposes for which it was originally supplied
                        to us.<br>24. We may also disclose Data to a prospective purchaser of our business or any part of it.<br>25. In the above instances, we will take steps with the aim of ensuring your privacy is protected.</h5>
                    <h4>General</h4>
                    <h5 class="description">26. You may not transfer any of your rights under this privacy policy to any other person. We may transfer our rights under this privacy policy where we reasonably believe your rights will not be affected.<br>27. If any court or competent
                        authority finds that any provision of this privacy policy (or part of any provision) is invalid, illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to be deleted, and the validity
                        and enforceability of the other provisions of this privacy policy will not be affected.<br>28. Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed a waiver of that, or
                        any other, right or remedy.
                        <br>29. This Agreement will be governed by and interpreted according to the law of England and Wales. All disputes arising under the Agreement will be subject to the exclusive jurisdiction of the English and Welsh courts.
                    </h5>
                    <h4>Changes to this privacy policy</h4>
                    <h5 class="description">30. Followup Ltd reserves the right to change this privacy policy as we may deem necessary from time to time or as may be required by law. Any changes will be immediately posted on the Website and you are deemed to have accepted the
                        terms of the privacy policy on your first use of the Website following the alterations.
                        <br>You may contact Followup Ltd by email at feedback@followuppro.co.uk.
                    </h5>
                    <h4>Attribution</h4>
                    <h5 class="description">31. This privacy policy was created using a document from Rocket Lawyer (https://www.rocketlawyer.co.uk).
                        <br>20 August 2018 This application is pre-release software. Any data that is stored may be read and used for debug purposes but will not be sold on to third parties.
                        <br> Please do not store any personal data until the app has been released.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>