<!-- <div class="page-header" data-parallax="true" #home id="home">
    <div class="filter"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-12 VHAlign" style="display: flex">
                <div class="motto">
                    <h1 class="animated fadeInUp">FollowUp</h1>
                    <h3>Building rapport through simple habits</h3>
                    <h6>Our goal is to harness the power of human habit and make building lasting relationships second nature for everyone.
                    </h6>
                    <br />
                    <div class="col-12 p-0 flex-row flex">
                        <a href="https://itunes.apple.com/us/app/followup-pro/id1458386312?ls=1&mt=8" target="_blank" class="btn mr-4 appBtn"><img class="mr-2" src="../../assets/img/SVG/app_store_icon.svg">App Store
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=uk.co.followuppro.followuppro.new" target="_blank" class="btn appBtn"><img class="mr-2" src="../../assets/img/SVG/play_store_icon.svg">Google Play
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12  d-none d-sm-block">
                <img class="position-absolute w-100 animated fadeInRight" style="z-index:11" src="../../assets/img/PNG/main-bg.png" alt="">
            </div>
        </div>
    </div>
</div> -->
<div class="home-vid">
    <!-- <video src="../../assets/videos/home_vid.mp4" autoplay='true' loop='true'></video> -->
    <!-- <video autoplay='true' loop='true'>
        <source type="video/mp4"
            src="https://player.vimeo.com/video/373647370?autoplay=1&loop=1&autopause=0&controls=0">
    </video> -->
    <iframe src="https://player.vimeo.com/video/373647370?background=1&autoplay=1&loop=1&autopause=0&api=1&controls=0&muted=1?playsinline=0" allow="autoplay; fullscreen" playsinline frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    <!-- <iframe src="https://www.youtube.com/embed/pPKyyKB0njw?controls=0&autoplay=1&loop=1&modestbranding=0" allow="autoplay">
    </iframe> -->
    <div class="button-section">
        <a href="https://itunes.apple.com/us/app/followup-pro/id1458386312?ls=1&mt=8" target="_blank" class="btn mr-4 appBtn"><img class="mr-2" src="../../assets/img/SVG/app_store_icon.svg">App Store
        </a>
        <a href="https://play.google.com/store/apps/details?id=uk.co.followuppro.followuppro.new" target="_blank" class="btn appBtn"><img class="mr-2" src="../../assets/img/SVG/play_store_icon.svg">Google Play
        </a>
    </div>
</div>
<div class="main">
    <div class="section text-left" #features id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mr-auto ml-auto">
                    <h2 class="title">Meet <span>Follow Up</span></h2>
                    <h5 class="description">Turn the skills of professional marketers into repeatable habits. Lead the way in relationship focused business, build a network of trust, and live a life of prosperity.
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <!-- <div class="container"> -->
        <div class="row">
            <div class="orangeDiv col-md-3">
                <img class="towardsLeft animated fadeInUp" src="../../assets/img/PNG/pop-up.png" alt="">
            </div>
            <div class="col-md-6 offset-md-2">
                <img src="../../assets/img/SVG/orange_mark.svg" alt="">
                <h2 class="title animated fadeInUp">Power of the <span>popup</span></h2>
                <h5 class="description animated fadeInUp">
                    The Popup is what makes FollowUp unique. It provides you with the tools to do the things you need to do, when you need to do them. <br> Making notes and setting FollowUps with customers is a professional skill. It may seem simple but
                    we all forget from time to time and doing so can have lasting effects on our relationships with our customers. With the FollowUp Popup you can relax and trust that Followup will be there too keep you on track, 24/7, 365.
                </h5>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="section">
        <!-- <div class="container"> -->
        <div class="row">
            <div class="yellowDiv col-12 d-sm-none">
                <img class="towardsRight animated fadeInUp" src="../../assets/img/PNG/know_customers.png" alt="">
            </div>
            <div class="col-md-6 offset-md-1">
                <img src="../../assets/img/SVG/yellow_mark.svg" alt="">
                <h2 class="title animated fadeInUp">Know Who
                    <span>Your Customers Are</span></h2>
                <h5 class="description animated fadeInUp">
                    FollowUp Contacts makes finding all the information about a customer easier than ever before.
                    <br> All events, calls, notes and actions are tied to your contacts profile and available at any time. The popup is what drives this integration and what makes FollowUp so effective.
                </h5>
            </div>
            <div class="yellowDiv col-md-3 offset-md-2 d-none d-sm-flex">
                <img class="towardsRight animated fadeInUp" src="../../assets/img/PNG/know_customers.png" alt="">
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="section">
        <!-- <div class="container"> -->
        <div class="row">
            <div class="yellowDiv col-md-3">
                <img class="towardsLeft animated fadeInUp" src="../../assets/img/PNG/consistent_business.png" alt="">
            </div>
            <div class="col-md-6 offset-md-2">
                <img src="../../assets/img/SVG/yellow_mark.svg" alt="">
                <h2 class="title animated fadeInUp"><span>Consistent Business</span></h2>
                <h5 class="description animated fadeInUp">
                    Consistently getting one prospect per day is the difference between a business amateur and a professional.
                    <br> That's why FollowUp gives you FollowUp Prospects. A place where you can keep track of all your potential customers and see the growth of your business network
                </h5>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="section pb-0">
        <!-- <div class="container"> -->
        <div class="row">
            <div class="orangeDiv col-12 d-sm-none">
                <img class="towardsRight animated fadeInUp" src="../../assets/img/PNG/up_to_date.png" alt="">
            </div>
            <div class="col-md-6 offset-md-1">
                <img src="../../assets/img/SVG/orange_mark.svg" alt="">
                <h2 class="title animated fadeInUp">Stay
                    <span>up to date</span></h2>
                <h5 class="description animated fadeInUp">
                    Keep track of the FollowUps you set up with your customers using the FollowUp calendar. Professional business owners always set the next exposure at the end of a call but even more importantly, they always FollowUp when they say they will.
                    <br> FollowUp calendar makes this simpler than ever through the power of the popup. The popup allows you so set an event straight after a call, at the moment where all the information is fresh. It makes the process intuitive and seamless,
                    allowing you to get on with your day worry free.
                </h5>
            </div>
            <div class="orangeDiv col-md-3 offset-md-2 d-none d-sm-flex">
                <img class="towardsRight animated fadeInUp" src="../../assets/img/PNG/up_to_date.png" alt="">
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="section quote">
        <div class="container">
            <div class="row">
                <div class="col-md-2 ml-auto">
                    <img src="../../assets/img/SVG/quote_icon.svg" alt="">
                </div>
                <div class="col-md-8 mr-auto">
                    <h2 class="title mt-0">The fortune is in the follow up</h2>
                    <h3 class="author">By Eric Worre</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="contact section landing-section" #contact id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title"><span>Contact Us</span></h2>
                    <form class="contact-form" #personal="ngForm" (ngSubmit)="sendMessage(personal)">
                        <mat-form-field class="mb-2">
                            <input name="contactName" [(ngModel)]="contact.name" maxlength="100" matInput placeholder="Name" type="text" required>
                            <mat-error *ngIf="name.invalid">{{getNameMessage()}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="mb-2">
                            <input name="contactEmail" [(ngModel)]="contact.email" maxlength="100" matInput placeholder="Email" required>
                            <mat-error *ngIf="email.invalid">{{getEmailMessage()}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="mb-2">
                            <!-- <span matPrefix>+91 &nbsp;</span> -->
                            <input name="contactMobile" [(ngModel)]="contact.mobile" maxlength="15" minlength="9" matInput placeholder="Mobile Number" type="tel" [textMask]="{mask: mobileMask}">
                            <mat-error *ngIf="mobile.invalid">{{getMobileMessage()}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="mb-2">
                            <textarea name="contactMessage" [(ngModel)]="contact.message" maxlength="400" matInput placeholder="Message" required></textarea>
                            <mat-error *ngIf="message.invalid">{{getMessage()}}</mat-error>
                        </mat-form-field>
                        <div class="form-group">
                            <button mat-raised-button color="primary" class="btn w-100 btn-followUp">Submit</button>
                            <!-- <button class="btn w-100 btn-followUp"></button> -->
                        </div>
                    </form>
                </div>
                <div class="col-md-3 mr-auto ml-auto"></div>
            </div>
        </div>
    </div>
</div>