<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="">
                            <img src="./assets/img/PNG/followup-logo.png" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="credits m-auto">
                <span class="copyright">
                    Copyright 2019 © FollowUp | All Rights Reserved
                    <!-- © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Creative Tim -->
                </span>
            </div>
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a [routerLink]="['/privacy']" routerLinkActive="router-link-active">
                Privacy Policy 
            </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>